html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  position: relative;
  margin: 0;
  background: #222;
  font-family: system-ui;
  display: flex;
  flex-direction: column; /* Cambiamos a flex-direction: column */
  justify-content: space-between; /* Espacio entre encabezado y pie de página */
  align-items: center;
  min-height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
}

#root {
  flex: 1; /* El contenido principal ocupará el espacio restante */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centra horizontalmente el contenido */
  gap: 8px;
  text-align: center; /* Centra el texto dentro del contenedor */
  height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title-header {
  display: flex;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 800;
}

footer {
  position: absolute;
  bottom: 0;
}

.text-footer {
  display: flex;
  justify-content: center;
  color: #fff; /* Cambiamos el color del texto */
  text-transform: uppercase;
}
